.items {
    display: flex;
    flex-flow: wrap;
}

.itemDetail {
    width: 15rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 658px) { 
    .itemDetail {
      width: 30rem;
      height: 34vh;
    }
}

@media screen and (min-width:659px) and (max-width: 977px) { 
    .itemDetail {
      width: 22rem;
    }
  }


