.items {
    display: flex;
    flex-flow: wrap;
}

/* .related_items {
    display: flex;
    flex-direction: column;
} */

.itemDetail {
    width: 17.99rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.itemDetail_related {
    width: 500px;
    margin-bottom: 1.5rem;
    cursor: pointer;
    display: flex;
}

.thumbnail {
    width: 100%;
    border-radius: 1rem;
}

.thumbnail_related {
    width: 250px;
    min-width: 250px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.itemDetail_info {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 500;
    font-size: 1.1rem;
}

.channel_name {
    color: #969696;
}

.date {
    color: #969696;
}

@media screen and (max-width: 1448px) {
    .itemDetail_related {
        width: 100%;
        margin-bottom: 1.5rem;
        cursor: pointer;
        display: flex;
    }
    .thumbnail_related {
        width: 20%;
    }
    .itemDetail_related {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 658px) { 
    .itemDetail {
      width: 30rem;
      height: 34vh;
    }
}

@media screen and (min-width:659px) and (max-width: 977px) { 
    .itemDetail {
      width: 22rem;
    }
}


