.items {
    display: flex;
    flex-flow: wrap;
}

/* .related_items {
    display: flex;
    flex-direction: column;
} */

.itemDetail {
    width: 15.88rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.itemDetail_related {
    width: 100%;
    margin-bottom: 1.5rem;
    cursor: pointer;
    display: flex;
}

.thumbnail {
    width: 100%;
    border-radius: 1rem;
}

.thumbnail_related {
    width: 66%;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.title {
    font-weight: bold;
}

@media screen and (max-width: 658px) { 
    .itemDetail {
      width: 30rem;
      height: 34vh;
    }
}

@media screen and (min-width:659px) and (max-width: 977px) { 
    .itemDetail {
      width: 22rem;
    }
}


